@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url(menucont.css);
*{
	box-sizing: border-box;
}
body{
	font-family: 'Noto Sans', sans-serif;
}
header{
	width: 100%;
	height: 50px;
	background: black;
	color: #fff;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.contenedor{
	width: 98%;
	margin: auto;
}

h1{
	float: left;
}

header . contenedor{
	display: table;
}